# Database
POSTGRES_USER=rewarduser
POSTGRES_PASSWORD=CHANGE_ME_TO_STRONG_PASSWORD
POSTGRES_DB=rewardshub

# Backend
SECRET_KEY=CHANGE_ME_TO_LONG_RANDOM_SECRET
CORS_ORIGINS=https://rewardshub.sreeram.site,http://localhost:5173

# Monitoring
DATA_SOURCE_NAME=postgresql://rewarduser:CHANGE_ME@rewardshub-postgres:5432/rewardshub?sslmode=disable
